@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br>

                        <p class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Region" asp-action="Index">Region</a>
                        </p>
                        <p class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                        </p>
                        <p class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                        </p>
                        <p class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </p>
                         <p class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Vendor" asp-action="Index">Vendor</a>
                        </p>
                        <p class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </p>
